In [14]:
import pandas as pd
import json

In [15]:
with open('JSON_files/cwc_results.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [16]:
df_match.shape

(48, 7)

## Preprocessing

In [17]:
df_match.rename({'scorecard':'matchid'}, inplace=True, axis=1)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,matchid
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [18]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['matchid']
    match_ids_dict[key2] = row['matchid']

In [19]:
df_match.to_csv('CSV_files/cwc_results.csv', index = False)

## Batting data preprocessing

In [20]:
with open('JSON_files/batting_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
  
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68
5,India Vs Australia,India,6,Ravindra Jadeja,c â€ Inglis b Hazlewood,9,22,0,0,40.90
6,India Vs Australia,India,7,Suryakumar Yadav,c â€ Inglis b Hazlewood,18,28,1,0,64.28
7,India Vs Australia,India,8,Mohammed Shami,c â€ Inglis b Starc,6,10,1,0,60.00
8,India Vs Australia,India,9,Jasprit Bumrah,lbw b Zampa,1,3,0,0,33.33
9,India Vs Australia,India,10,Kuldeep Yadav,run out (Labuschagne/Cummins),10,18,0,0,55.55
10,India Vs Australia,India,11,Mohammed Siraj,NaN,9,8,1,0,112.50

In [21]:
df_batting['out/not_out'] = df_batting['dismissal'].apply(lambda x: "Not Out" if pd.isna(x) else "Out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,India Vs Australia,India,1,Rohit Sharma(c),c Head b Maxwell,47,31,4,3,151.61,Out
1,India Vs Australia,India,2,Shubman Gill,c Zampa b Starc,4,7,0,0,57.14,Out
2,India Vs Australia,India,3,Virat Kohli,b Cummins,54,63,4,0,85.71,Out
3,India Vs Australia,India,4,Shreyas Iyer,c â€ Inglis b Cummins,4,3,1,0,133.33,Out
4,India Vs Australia,India,5,KL Rahulâ€,c â€ Inglis b Starc,66,107,1,0,61.68,Out
5,India Vs Australia,India,6,Ravindra Jadeja,c â€ Inglis b Hazlewood,9,22,0,0,40.90,Out
6,India Vs Australia,India,7,Suryakumar Yadav,c â€ Inglis b Hazlewood,18,28,1,0,64.28,Out
7,India Vs Australia,India,8,Mohammed Shami,c â€ Inglis b Starc,6,10,1,0,60.00,Out
8,India Vs Australia,India,9,Jasprit Bumrah,lbw b Zampa,1,3,0,0,33.33,Out
9,India Vs Australia,India,10,Kuldeep Yadav,run out (Labuschagne/Cummins),10,18,0,0,55.55,Out
10,India Vs Australia,India,11,Mohammed Siraj,NaN,9,8,1,0,112.50,Not Out

In [22]:
df_batting.drop(columns="dismissal", inplace=True)
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,Out
1,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,Out
2,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,Out
3,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,Out
4,India Vs Australia,India,5,KL Rahulâ€,66,107,1,0,61.68,Out
...,...,...,...,...,...,...,...,...,...,...
871,South Africa Vs Sri Lanka,Sri Lanka,7,Dasun Shanaka(c),68,62,6,3,109.67,Out
872,South Africa Vs Sri Lanka,Sri Lanka,8,Dunith Wellalage,0,1,0,0,0.00,Out
873,South Africa Vs Sri Lanka,Sri Lanka,9,Kasun Rajitha,33,31,4,1,106.45,Out
874,South Africa Vs Sri Lanka,Sri Lanka,10,Matheesha Pathirana,5,16,1,0,31.25,Out
875,South Africa Vs Sri Lanka,Sri Lanka,11,Dilshan Madushanka,4,2,1,0,200.00,Not Out

In [23]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,Out
1,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,Out
2,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,Out
3,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,Out
4,India Vs Australia,India,5,KL Rahul,66,107,1,0,61.68,Out

In [24]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,India Vs Australia,India,1,Rohit Sharma(c),47,31,4,3,151.61,Out,ODI # 4662
1,India Vs Australia,India,2,Shubman Gill,4,7,0,0,57.14,Out,ODI # 4662
2,India Vs Australia,India,3,Virat Kohli,54,63,4,0,85.71,Out,ODI # 4662
3,India Vs Australia,India,4,Shreyas Iyer,4,3,1,0,133.33,Out,ODI # 4662
4,India Vs Australia,India,5,KL Rahul,66,107,1,0,61.68,Out,ODI # 4662

In [25]:
df_batting.shape

(876, 11)

In [26]:
df_batting.to_csv('CSV_files/bating_summary.csv', index = False)

## Bowling data preprocessing

In [28]:
with open('JSON_files/bowling_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
  
df_bowling = pd.DataFrame(all_records)
df_bowling.head(11)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,India Vs Australia,Australia,Mitchell Starc,10,0,55,3,5.50,30,4,1,3,0
1,India Vs Australia,Australia,Josh Hazlewood,10,0,60,2,6.00,22,4,1,1,0
2,India Vs Australia,Australia,Glenn Maxwell,6,0,35,1,5.83,19,4,1,0,0
3,India Vs Australia,Australia,Pat Cummins,10,0,34,2,3.40,30,0,0,2,0
4,India Vs Australia,Australia,Adam Zampa,10,0,44,1,4.40,22,1,0,1,0
5,India Vs Australia,Australia,Mitchell Marsh,2,0,5,0,2.50,7,0,0,0,0
6,India Vs Australia,Australia,Travis Head,2,0,4,0,2.00,8,0,0,0,0
7,India Vs Australia,India,Jasprit Bumrah,9,2,43,2,4.77,37,8,0,0,0
8,India Vs Australia,India,Mohammed Shami,7,1,47,1,6.71,28,6,1,3,0
9,India Vs Australia,India,Ravindra Jadeja,10,0,43,0,4.30,29,1,1,1,0
10,India Vs Australia,India,Kuldeep Yadav,10,0,56,0,5.60,25,3,2,0,0

In [31]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,India Vs Australia,Australia,Mitchell Starc,10,0,55,3,5.50,30,4,1,3,0,ODI # 4662
1,India Vs Australia,Australia,Josh Hazlewood,10,0,60,2,6.00,22,4,1,1,0,ODI # 4662
2,India Vs Australia,Australia,Glenn Maxwell,6,0,35,1,5.83,19,4,1,0,0,ODI # 4662
3,India Vs Australia,Australia,Pat Cummins,10,0,34,2,3.40,30,0,0,2,0,ODI # 4662
4,India Vs Australia,Australia,Adam Zampa,10,0,44,1,4.40,22,1,0,1,0,ODI # 4662

In [32]:
df_bowling.to_csv('CSV_files/bowling_summary.csv', index = False)

## Player data preprocessing

In [37]:
with open('JSON_files/players.json') as f:
    data = json.load(f)

In [38]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players.head(10)

(181, 7)

,name,team,battingStyle,bowlingStyle,playingRole,input,description
0,Mohammad Wasim,Pakistan,Right hand Bat,Right arm Fast medium,Bowling Allrounder,{},NaN
1,Naveen-ul-Haq,Afghanistan,Right hand Bat,Right arm Medium fast,Bowler,{},NaN
2,Marcus Stoinis,Australia,Right hand Bat,Right arm Medium,Batting Allrounder,{},NaN
3,Logan van Beek,Netherlands,Right hand Bat,Right arm Medium fast,Bowler,{},Logan van Beek is an allrounder in more ways t...
4,Kusal Mendis(c)â€,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,{},"Blessed with a compact technique, an aggressiv..."
5,Ikram Alikhilâ€,Afghanistan,Left hand Bat,NaN,Wicketkeeper Batter,{},NaN
6,Kane Williamson(c),New Zealand,Right hand Bat,Right arm Offbreak,Top order Batter,{},NaN
7,Najmul Hossain Shanto(c),Bangladesh,Left hand Bat,Right arm Offbreak,Top order Batter,{},Nazmul Hossain Shanto emerged from an unusual ...
8,Agha Salman,Pakistan,Right hand Bat,Right arm Offbreak,Allrounder,{},NaN
9,Bas de Leede,Netherlands,Right hand Bat,Right arm Fast medium,Batting Allrounder,{},NaN

In [39]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,input,description
0,Mohammad Wasim,Pakistan,Right hand Bat,Right arm Fast medium,Bowling Allrounder,{},NaN
1,Naveen-ul-Haq,Afghanistan,Right hand Bat,Right arm Medium fast,Bowler,{},NaN
2,Marcus Stoinis,Australia,Right hand Bat,Right arm Medium,Batting Allrounder,{},NaN
3,Logan van Beek,Netherlands,Right hand Bat,Right arm Medium fast,Bowler,{},Logan van Beek is an allrounder in more ways t...
4,Kusal Mendis(c),Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,{},"Blessed with a compact technique, an aggressiv..."
5,Ikram Alikhil,Afghanistan,Left hand Bat,NaN,Wicketkeeper Batter,{},NaN
6,Kane Williamson(c),New Zealand,Right hand Bat,Right arm Offbreak,Top order Batter,{},NaN
7,Najmul Hossain Shanto(c),Bangladesh,Left hand Bat,Right arm Offbreak,Top order Batter,{},Nazmul Hossain Shanto emerged from an unusual ...
8,Agha Salman,Pakistan,Right hand Bat,Right arm Offbreak,Allrounder,{},NaN
9,Bas de Leede,Netherlands,Right hand Bat,Right arm Fast medium,Batting Allrounder,{},NaN

In [40]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,input,description
13,Rohit Sharma,India,Right hand Bat,Right arm Offbreak,Top order Batter,{},NaN
21,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,{},NaN
23,Rohit Sharma(c),India,Right hand Bat,Right arm Offbreak,Top order Batter,{},NaN
24,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,{},NaN
27,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,{},Mohammed Shami was India's leading fast bowler...
30,Ishan Kishan,India,Left hand Bat,NaN,Wicketkeeper Batter,{},NaN
45,Ravindra Jadeja,India,Left hand Bat,Slow Left arm Orthodox,Allrounder,{},NaN
61,Shreyas Iyer,India,Right hand Bat,"Right arm Offbreak, Legbreak Googly",Top order Batter,{},NaN
67,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,{},NaN
74,Jasprit Bumrah,India,Right hand Bat,Right arm Fast,Bowler,{},NaN
75,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,{},NaN
93,Shubman Gill,India,Right hand Bat,Right arm Offbreak,Opening Batter,{},NaN
103,Kuldeep Yadav,India,Left hand Bat,Left arm Wrist spin,Bowler,{},NaN
105,Mohammed Siraj,India,Right hand Bat,Right arm Fast,Bowler,{},Mohammed Siraj's rise as a seamer was remarkab...
116,KL Rahul,India,Right hand Bat,NaN,Wicketkeeper Batter,{},NaN
180,Shardul Thakur,India,Right hand Bat,Right arm Medium,Bowler,{},NaN

In [45]:
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Mohammad Wasim,Pakistan,Right hand Bat,Right arm Fast medium,Bowling Allrounder,NaN
1,Naveen-ul-Haq,Afghanistan,Right hand Bat,Right arm Medium fast,Bowler,NaN
2,Marcus Stoinis,Australia,Right hand Bat,Right arm Medium,Batting Allrounder,NaN
3,Logan van Beek,Netherlands,Right hand Bat,Right arm Medium fast,Bowler,Logan van Beek is an allrounder in more ways t...
4,Kusal Mendis(c),Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [46]:
def standardize_name(name):
    return name.split('(')[0]

df_players['name'] = df_players['name'].apply(standardize_name)

# Now drop duplicates based on the standardized 'name' column
df_players.drop_duplicates(subset=['name'], keep='first', inplace=True)
df_players[df_players['team'] == 'India']

,name,team,battingStyle,bowlingStyle,playingRole,description
13,Rohit Sharma,India,Right hand Bat,Right arm Offbreak,Top order Batter,NaN
21,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,NaN
24,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,NaN
27,Mohammed Shami,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Shami was India's leading fast bowler...
30,Ishan Kishan,India,Left hand Bat,NaN,Wicketkeeper Batter,NaN
45,Ravindra Jadeja,India,Left hand Bat,Slow Left arm Orthodox,Allrounder,NaN
61,Shreyas Iyer,India,Right hand Bat,"Right arm Offbreak, Legbreak Googly",Top order Batter,NaN
67,Hardik Pandya,India,Right hand Bat,Right arm Medium fast,Allrounder,NaN
74,Jasprit Bumrah,India,Right hand Bat,Right arm Fast,Bowler,NaN
75,Ravichandran Ashwin,India,Right hand Bat,Right arm Offbreak,Bowling Allrounder,NaN
93,Shubman Gill,India,Right hand Bat,Right arm Offbreak,Opening Batter,NaN
103,Kuldeep Yadav,India,Left hand Bat,Left arm Wrist spin,Bowler,NaN
105,Mohammed Siraj,India,Right hand Bat,Right arm Fast,Bowler,Mohammed Siraj's rise as a seamer was remarkab...
116,KL Rahul,India,Right hand Bat,NaN,Wicketkeeper Batter,NaN
180,Shardul Thakur,India,Right hand Bat,Right arm Medium,Bowler,NaN

In [47]:
df_players.to_csv('CSV_files/players.csv', index = False)